#map {
  width: 35%;
  height: 500px;
  background-color: grey;
  float: right;
  margin-right: 30px;
 }

 .city-list {
   display: inline-block;
   margin-left: 30px;
   width: 60%;
 }

 #markers {
  width: 30%;
  height: 500px;
  background-color: grey;
  float: right;
  margin-right: 30px;
 }

 /*.cityDetails {
   margin-left: 30px;
   width: 500px;
   display: inline-block;
 }

 .controls {
    display: inline-block;
    float: right;
    margin-right: 200px;
 }

 .cityInfo {
   display: inline-block;
 }

 .description {
   display: inline-block;
 }*/



 /*.md-chips[readonly=true]{
  box-shadow: 0 0px !important;
}*/

.photos img{
    height: 200px;
}

.cityInfo {
  background-color: green;
  font-style: italic;
}