<div class="cityEdit">
    <form ng-submit="$ctrl.editCity(city)">
        <md-input-container flex-gt-sm>
            <label>City name {{$ctrl.city.name}}</label>
            <input  type="text" name="cityName" ng-model="$ctrl.city.name">
        </md-input-container>

        <md-input-container flex-gt-sm>
            <label>latitude</label>
            <input type="number" step="any" name="latitude" ng-model="$ctrl.city.coordinates.lat">
        </md-input-container>

        <md-input-container flex-gt-sm>
            <label>longitude</label>
            <input type="number" step="any" name="longitude" ng-model="$ctrl.city.coordinates.lng">
        </md-input-container>

        <md-input-container flex-gt-sm>
            <label>Description</label>
            <input  type="text" name="description" ng-model="$ctrl.city.description">
        </md-input-container>

        <md-input-container flex-gt-sm>
            <label>Tags</label>
            <md-chips ng-model="$ctrl.tags"></md-chips>
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">Save city</md-button>
    </form>
</div>