<!--<div>
    <form ng-submit="$ctrl.addCity()">

    <md-input-container flex-gt-sm>
      <label>City</label>
      <input  type="text" name="cityName" ng-model="city.name">
    </md-input-container>

    <md-input-container flex-gt-sm>
      <label>latitude</label>
      <input type="number" step="any" name="latitude" ng-model="city.latitude">
    </md-input-container>

    <md-input-container flex-gt-sm>
      <label>longitude</label>
      <input type="number" step="any" name="longitude" ng-model="city.longitude">
    </md-input-container>

    <md-button class="md-raised md-primary" type="submit">Add city</md-button>
  </form>
</div>

<div>
    <md-input-container>
        <label>City</label>
        <md-select ng-model="$ctrl.currentCity" ng-change="$ctrl.changeCity()">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="city in $ctrl.cities" ng-value="city.name">
            {{city.name}}
        </md-option>
        </md-select>
    </md-input-container>

    <div>Here will be the map of {{$ctrl.currentCity}}
        <div id="map" ng-show="$ctrl.currentCity">
        </div>
    </div>
</div>-->

<div class="controls">
    <md-button class="md-raised md-primary" ng-click="$ctrl.addDescriptionDialog()">{{$ctrl.descButton}}</md-button>
    <md-button class="md-raised md-primary" ng-click="$ctrl.showMarker()">show city in the map</md-button>
</div>
<div class="cityDetails" layout="row">

    <div class="cityInfo" layout="row">
        <h1>
            {{$ctrl.city.name}}
        </h1>
        <md-content layout-padding>
            Latitude: {{$ctrl.city.coordinates.lat}}
        </md-content>
        <md-content layout-padding>
            Longitude: {{$ctrl.city.coordinates.lng}}
        </md-content>

        <md-content layout-padding ng-show="!showTheForm">
            {{$ctrl.city.description}}
        </md-content>

        <md-content>
            <span ng-repeat="tag in $ctrl.city.tags">
               {{tag}}
            </span>
        </md-content>
        <md-content class="photos">
            <span ng-repeat="photo in $ctrl.city.photos">
                <img  ng-src="{{photo}}" alt="Description" />
            </span>
        </md-content>
    </div>

    <div id="description">
    <form ng-show="showTheForm" ng-submit="$ctrl.addDescription()">

        <md-input-container flex-gt-sm>
            <label>Enter the description</label>
            <input  type="text" name="description" ng-model="$ctrl.description">
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">{{$ctrl.descButton}}</md-button>
    </form>
    </div>

</div>
<div id="markers" ng-show="$ctrl.map">
</div>